.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Общий контейнер */
.liveness-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Займёт всю высоту экрана */
  padding: 20px; /* Добавим немного отступов для мелких экранов */
  box-sizing: border-box;
  background-color: #f9f9f9;
}

/* Увеличиваем овал на маленьких экранах */
.liveness-container canvas {
  max-width: 100%; /* Убедимся, что контент не выходит за пределы экрана */
  height: auto;
}

/* Для маленьких экранов (до 600px) */
@media (max-width: 600px) {
  .liveness-container {
    flex-direction: column;
    padding: 10px;
  }

  /* Овал камеры центрируется, а текст занимает меньше места */
  .liveness-container canvas {
    width: 100%; /* Использует всю ширину экрана */
    max-width: 320px; /* Ограничиваем размер для избежания растягивания */
  }
}

/* Для средних экранов (от 601px до 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .liveness-container {
    padding: 15px;
  }
}



